name: Deploy Flutter Web

on:
  push:
    branches: [ main ]

permissions:  # ✅ ДОБАВЬТЕ ЭТОТ БЛОК
  contents: write
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
      
    - uses: subosito/flutter-action@v2
      
    - run: |
        flutter pub get
        flutter clean
        flutter build web --release --base-href "/immobilien_makler_web/"
        
        # Подготовить файлы
        cd build/web
        touch .nojekyll
        cp index.html 404.html
        
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_branch: gh-pages
        publish_dir: ./build/web
        force_orphan: true
        commit_message: "Deploy: ${{ github.sha }}"